
<ol>
  <% @property.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ol>

<%= form_with(model: @property) do |f| %>
<div class="container">
    <div class="content">
       <img src="https://res.cloudinary.com/debbsefe/image/upload/f_auto,c_fill,dpr_auto,e_grayscale/image_fz7n7w.webp" alt="header-image" class="cld-responsive">
            <h1 class="form-title">Register Here</h1>
            <form>
            <%= f.label :Name %>
            <br>
            <%= f.text_field :name %>
            <div>
            <br>
            <%= f.label :descripition %>
            <br>
            <%= f.text_field :descripition %>
            </div>
            <%= f.label :price %>
            <br>
            <%= f.number_field :price %>
            <br>
            
            <%= f.label :address %>
            <br>
            <%= f.text_field :address%>
            <br>
            <%= f.label :image %>
             <br>
            <%= f.file_field :images, multiple: true%>
            <br>
            <br>
            <p>Choose property</p>
            <br>
            <%= f.collection_select :propertytype_id, Propertytype.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
            <br>
               <%= f.submit%>
            </form>
        </div>
 </div>
<% end%>