
<%= form_with(model: @property_type) do |form| %>
  <% if @property_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_type.errors.count, "error") %> prohibited this property type from being saved:</h2>

      <ul>
        <% @property_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
