




<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center p-2">
        <h1>Appointments</h1>
      </div>

      <!--Table-->
      <table class="table table-striped w-auto">

        <!--Table head-->
        <thead>
          <tr>
            <th class="text-center">Appointment ID</th>
            <th class="text-center">User Name</th>
            <th class="text-center">Agent</th>
            <th class="text-center">Property</th>
            <th class="text-center">Date</th>
            <th class="text-center">Agent Address</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <% @appointments.each do |appointment| %>
          <tr class="table-info">
            <td class="text-center"><%= appointment.id %></td>
            <td class="text-center"><%= appointment.user.name %></td>
            <td class="text-center"><%= appointment.agent.name %></td>
            <td class="text-center"><%= appointment.property.name %></td>
            <td class="text-center"><%= appointment.date %></td>
            <td class="text-center"><%= appointment.agent.address %></td>
            <td class="text-center"><%= button_to "Delete", appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" } %></td>
            <td class="text-center"><%= link_to "Edit", edit_appointment_path(appointment) %></td>
          </tr>
          <% end %>
        </tbody>
        <!--Table body-->

      </table>
      <!--Table-->
    </div>
  </div>
</div>

<style>
  table {
    margin: 0 auto;
  }
</style>







