
<div class="text-center p-2"><h1>Appointments </h1></div>

<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      <th>Number</th>
      <th>User name</th>
      <th>Agent</th>
      <th>Date</th>
      <th>Agent Address</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
<% @appointments.each do |appointment| %>
  <tbody>
    <tr class="table-info">
      <th scope="row"><%= appointment.id %></th>
      <td><%= appointment.user.name%></td>
      <td><%= appointment.agent.name%></td>
      <td><%= appointment.date%></td>
      <td><%= appointment.agent.address%></td>
      <td><%= button_to "Delete", appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" } %></td>
      <td><%= link_to "Edit", edit_appointment_path(appointment) %></td>
    </tr>
  </tbody>
  <!--Table body-->

<%end%>
</table>
<!--Table-->















